
.about{
    @include respond(phone){
        margin-top: 15rem;
    }
    .section_about_about{
        padding: 4rem;

        &-title{
            h1{
                font-size: 4rem;
                font-weight: 700;
                color: $blue_prosper_color;
            }
            @include respond(phone){
                margin-bottom: 4rem;
            }
        }
        &-desc{
        }
    }

    .section_visi_about{
        padding: 4rem 0 4rem 0;

        @media (min-width: 960px){
            .MuiContainer-root {
                padding-left: 0;
                padding-right: 0;
            }
        }
        @include respond(phone){
            padding: 0;
        }
        &-desc{
            background-color: $blue_prosper_color;
            padding: 4rem;
            @include respond (phone){
                padding: 4rem;
            }
            h2{
                font-size: 3rem;
                color: white;
                margin-bottom: 2rem;
            }
            ul{
                li{
                    color: white;
                    margin-bottom: 2rem;
                    list-style: none;
                    position: relative;
                    padding-left: 32px;
                    &:before{
                        content: ">";
                        color: #f15d2a;
                        position: absolute;
                        left: 0;
                        @include respond(phone){
                            left: 23px;
                        }
                    }
                }
            }
            .visimisi{
                margin-bottom: 4rem;
                @media (min-width: 960px){
                    padding-left: 32px;
                    padding-right: 32px;
                }
            }
        }
        &-img{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            img{
                width: 100%;
                height: 40rem;
                object-fit: cover;
            }
        }
    }

    .section_why_about{
        padding: 4rem;
        background-color: #F9F9F9;
        &-title{
            text-align: center;
            @include respond(phone){
                margin-bottom: 4rem;
            }
            h2{
                font-size: 3rem;
                color: $blue_prosper_color;
                margin-bottom: 2rem;
            }
            p{
                font-size: 2.2rem;
                font-weight: 700;
                color: $orange_prosper_color;
                line-height: 29px;
                @include respond(phone){
                    line-height: unset;
                }
            }
        }
        &-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 4rem;
            @include respond(phone){
                padding: 0;
                margin-bottom: 8rem;
            }
            img{
                width: 100%;
                height: 45rem;
                object-fit: cover;
                margin-bottom: 4rem;
            }
        }
    }

    .section_download_about {
        max-width: 100vw;
        width: 100vw;
        margin: 0 calc(-50vw + 50%);
        background-color: black;

        @include respond(phone){
            padding: 4rem;
            max-width: unset;
            width: unset;
            margin: 0;
        }
        .download{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 4rem;
            h4{
                font-size: 2rem;
                color: white;
                margin-right: 3rem;
            }
        }

    }

    .section_say_about{
        @media (min-width: 960px){
            .MuiContainer-root {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &-content{
            padding: 10rem 0;
            h2{
                color: $blue_prosper_color;
                font-size: 3rem;
                text-align: center;
            }
            &--slider{
                padding: 5rem 0;
                .slick-active{
                    .section_say_about-content--slider-item{
                        opacity: 1 !important;
                    }
                }
                &-item{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: .4;
                    transition: .8s all;
                    outline: none;

                    .text{
                        padding: 5rem;
                        background-color: #f9f9f9;
                        margin-bottom: 8rem;
                        margin: 2rem 2rem 8rem;
                    }
                    .cm{
                        font-size: 2rem;
                        color: $blue_prosper_color;
                        margin: 2rem 0 0;
                    }
                    .MuiAvatar-root {
                        margin: auto;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}