.section_infoandform_contact{
    padding:4rem;
    .title{
        padding-bottom: 10rem;
        text-align: center;
        @include respond(phone){
            padding: 4rem;
        }
    }
    .prosper_info{
        @include respond(phone){
            // padding: 4rem;
            margin-bottom: 10rem;
        }
        h3{
            font-size: 2rem;
            color: $blue_prosper_color;
            margin-bottom: 2rem;
        }
        p{
            margin: 0;
            span{
                color: $orange_prosper_color;
                margin-right: 1rem;
            }
        }
    }
    .contact_form{
        @include respond(phone){
            // padding: 4rem;
        }
        .MuiOutlinedInput-input {
            font-size: 1.8rem;
            &::placeholder{
                font-size: 1.8rem;
                font-family: 'Crimson Text', serif;
            }
        }
        fieldset{
            top: -5px;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            border-style: solid;
            border-width: 1px;
            border-radius: inherit;
            pointer-events: none;
        }
        .button_wrapper{
            display: flex;
            justify-content: flex-end;
            .button_submit{
                background-color: #f15d2a;
                color: #fff;
                border: 1px solid #f15d2a;
                border-radius: 40px;
                font-size: 1.4rem;
                text-transform: none;
                padding: 5px 39px;

                cursor: pointer;
                &:hover{
                    background-color: #f15d2a;
                    border: 1px solid #f15d2a;
                }
            }
        }
        .input_message{
            textarea{
                height: 20rem !important;
                line-height: 20px !important;
            }
        }
    }
}

.section_location_contact{
    padding: 5rem 4rem;
    @include respond(phone){
        padding: 4rem;
    }
    iframe{
        width: 100%;
        height: 40rem;
    }
}