.services{
    .section_product_services{
        padding: 10rem 4rem;
        @include respond(phone){
            padding: 0;
        }
        &-wrapper{
            @include respond(phone){
                padding: 0;
            }
            .img{
                width: 100%;
                height: 45rem;
                img{
                    object-fit: cover;
                }
            }
            .desc{
                background-color: $blue_prosper_color;
                padding: 5rem;
                h2,h3,h4,p,li{
                    color: white;
                }
                h2{
                    font-size: 4rem;
                    margin-bottom: 2rem;
                    @include respond(phone){
                        font-size: 24px;
                    }
                }
                h3{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                    @include respond(phone){
                        font-size: 22px;
                    }

                }
                h4{
                    font-size: 1.8rem;
                    margin-bottom: 1.5rem;
                    @include respond(phone){
                        font-size: 20px;
                    }
                }
                ul{
                    padding-left: 50px;
                    @include respond(phone){
                        padding: 0;
                    }
                    li{
                        position: relative;
                        list-style: none;
                        &::before{
                            content: ">";
                            color: $orange_prosper_color;
                            position: absolute;
                            left: -50px;
                            @include respond(phone){
                                content: "";
                            }
                        }
                        ul{
                            padding-left: 35px;
                            li{
                                margin-bottom: 2rem;
                                p{
                                    font-size: 2.2rem;
                                }
                                &::before{
                                    content: "°";
                                    color: $orange_prosper_color;
                                    position: absolute;
                                    left: -35px;
                                    font-size: 2.2rem;
                                    @include respond(phone){
                                        content: "";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_how_services{
        padding: 4rem;
        background-color: #F9F9F9;
        &-title{
            text-align: center;
            margin-bottom: 4rem;
            h2{
                font-size: 3rem;
                color: $blue_prosper_color;
            }
        }
        &-desc{
            .img{
                width: 100%;
                height: 20rem;
                padding: 3rem 4rem;
                img{
                    height: 100%;
                    object-fit: contain;
                }
            }
            .desc{
                padding: 4rem;
                h3{
                    font-size: 2.5rem;
                    color: $blue_prosper_color;
                    margin-bottom: 2rem;
                }
            }
        }
        .start{
            text-align: center;
            margin: 5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 20px;
                margin-top: 1.5rem;
            }
        }
    }

    .section_upload_services{
        background-image: url('/images/gradient.png');
        background-size: cover;
        padding: 10rem 4rem;
        &-title{
            margin-bottom: 4rem;
            h2{
                font-size: 3rem;
                color: white;
                margin-bottom: 1rem;
            }
            h3{
                color: rgba(255, 255, 255, 0.822);
                font-size: 2.2rem;
                font-weight: 400;
            }
        }

        &-upload{
            padding: 2rem;
            .title{
                height: 7rem;
                h4{
                    font-size: 2rem;
                    font-weight: 400;
                    color: white;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}