.services{
    .section_product_services{
        padding: 10rem 4rem;
        @include respond(phone){
            padding: 0;
        }
        &-wrapper{
            margin-bottom: 8rem;
            @include respond(phone){
                padding: 0;
            }
            .img{
                width: 100%;
                height: 45rem;
                img{
                    object-fit: cover;
                }
            }
            .desc{
                background-color: $blue_prosper_color;
                padding: 5rem;
                h2,h3,h4,p,li{
                    color: white;
                }
                h2{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
                h3{
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                h4{
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }
                ul{
                    padding-left: 50px;
                    @include respond(phone){
                        padding: 0;
                    }
                    li{
                        position: relative;
                        list-style: none;
                        &::before{
                            content: ">";
                            color: $orange_prosper_color;
                            position: absolute;
                            left: -50px;
                            @include respond(phone){
                                left: -26px;
                                font-size: 3.2rem;
                            }
                        }
                        ul{
                            padding-left: 35px;
                            li{
                                margin-bottom: 2rem;
                                &::before{
                                    content: "°";
                                    color: $orange_prosper_color;
                                    position: absolute;
                                    left: -35px;
                                    font-size: 2.2rem;
                                    @include respond(phone){
                                        left: -26px;
                                        font-size: 5.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_how_services{
        padding: 4rem;
        background-color: #F9F9F9;
        &-title{
            text-align: center;
            margin-bottom: 4rem;
            h2{
                font-size: 3rem;
                color: $blue_prosper_color;
            }
        }
        &-desc{
            .img{
                width: 100%;
                height: 20rem;
                padding: 3rem 4rem;
                img{
                    height: 100%;
                    object-fit: contain;
                }
            }
            .desc{
                padding: 4rem;
                h3{
                    font-size: 2rem;
                    color: $blue_prosper_color;
                    margin-bottom: 2rem;
                }
            }
        }
        .start{
            text-align: center;
            margin: 5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 20px;
                margin-top: 1.5rem;
            }
        }
    }

    .section_upload_services{
        background-image: url('/images/gradient.png');
        background-size: cover;
        padding: 10rem 4rem;
        &-title{
            margin-bottom: 4rem;
            h2{
                font-size: 3rem;
                color: white;
                margin-bottom: 1rem;
            }
            p{
                color: rgba(255, 255, 255, 0.822);
                font-weight: 400;
            }
        }


        &-upload{
            padding: 3rem 5rem;
            .title{
                height: 8.5rem;
                h4{
                    font-size: 2rem;
                    font-weight: 400;
                    color: white;
                    margin-bottom: 1rem;
                }
            }

            .upload-box{
                height: 200px;
                width: 100%;
                background-color: #ffffffc4;
                border-radius: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                .container{
                    width: 100%;
                    height: 100%;
                    .dropzone{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 1rem;
                        .logo_wrapper{
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .4s;
                            img{
                                width: 100%;
                                height: 100%;
                                padding: 10px;
                                object-fit: contain;
                                transition: all .4s;
                            }
                        }

                        .overlay-progress{
                            position: absolute;
                            background-color: #22222254;
                            width: 100%;
                            height: 100%;
                            border-radius: 21px;

                            .progress-ring{
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                position: absolute;
                                &__circle{
                                    // axis compensation
                                    transition: stroke-dashoffset 0.35s;
                                    transform: rotate(-90deg);
                                    transform-origin: 50% 50%;
                                }
                            }
                            .number_progress{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: white;
                                font-size: 2.5rem;
                                font-family: Lato,sans-serif;
                            }
                        }

                        .tx1{
                            font-size: 1.9rem;
                            color: #909090;
                            font-family: 'Lato', sans-serif;
                            font-weight: 700;
                            margin-bottom: 10px;
                            transition: .2s all;
                        }
                        .tx2{
                            font-size: 1.5rem;
                            color: #909090;
                            font-family: 'Lato', sans-serif;
                            margin-bottom: 15px;
                            transition: .2s all;
                        }

                        button{
                            background-color: #8B8AAD;
                            box-shadow: none;
                            border: none;
                            padding: 8px 14px;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &-submit{
            padding: 3rem;
            button{
                background-color: #212121;
                width: 100%;
                color: white;
                padding: 1rem 0;
                font-size: 1.6rem;
            }
        }
        .notif_submit{
            transition: .5s all;
            opacity: 0;
            visibility: hidden;
            color: white;
            text-align: center;
        }
    }
}